.footerBottom {
  @apply grid grid-cols-4col;
  grid-template-areas: "item . . links";
}

.item {
  @apply p-2.5;
  grid-area: item;
}

.links {
  @apply p-2.5;
  grid-area: links;
}

@media (max-width: 1200px) {
  .footerBottom {
    @apply grid-cols-1;
    grid-template-areas:
      "item"
      "links";
  }
}
