@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply max-w-[100vw] min-h-[100vh];
}

a {
  @apply text-inherit no-underline duration-300;
}

ul,
ol {
  @apply list-none;
}

button {
  @apply border-0 duration-300 cursor-pointer;
}

.wrap {
  @apply p-5;
}
.ant-menu-item-selected * {
  @apply text-black !important;
}
.ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-title-content > p{
  @apply text-black !important;
}