@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --mainFz: 14px;
  --mainLh: 28px;
  --iconSize: 28px;
  --midIconSize: 24px;
  --elementWrap: 15px;
  --mainFf: 'Chivo', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .3s;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  transition: .3s;
  cursor: pointer;
}

.wrap {
  padding: 20px;
}

.elementWrap {
  padding: 15px;
}

.ant-drawer-content-wrapper {
  width: 320px !important;
}

.ant-menu-item-selected * {
  color: var(--blackColor) !important;
}

.ant-menu-submenu .ant-menu-submenu-title i::before,
.ant-menu-submenu .ant-menu-submenu-title i::after {
  background-color: var(--whiteColor);
}

.ant-menu-submenu {
  color: var(--whiteColor) !important;
}

.ant-menu-submenu-active {
  color: var(--blackColor) !important;
}

.ant-menu-submenu-active>.ant-menu-submenu-title i::before,
.ant-menu-submenu-active>.ant-menu-submenu-title i::after {
  background-color: var(--blackColor) !important;
}

.ant-menu-submenu-active>.ant-menu-submenu-title .Drawer__Item__Link {
  color: var(--blackColor) !important;
}

.ant-menu-submenu-arrow::after,
.ant-menu-submenu-arrow::before {
  transition: all 0s !important;
}