.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 50%;
    padding: 15px;
    font-size: 40px;
    font-weight: 400;
    font-family: var(--mainFf);
}

.input {
    min-height: 15px;
    width: 100%;
}

.form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form * {
    margin-bottom: 0;
}

.divider {
    background-color: var(--blackColor);
    margin-block: 40px;
}

@media (max-width: 700px) {
    .title{
        width: 100%;
    }
    .search{
        display: block;
    }
    .form{
        width: 100%;
    }
}
@media (max-width: 600px){
    .title{
        font-size: 20px;
    }
}