.login {
    display: flex;
}

.formRight {
    padding: 15px;
    flex-basis: 50%;
}

.title {
    font-size: 40px;
    font-family: var(--mainFf);
}

.lostDescription {
    font-family: var(--mainFf);
    font-size: 16px;
    margin-bottom: 16px;
}

.loginButton,
.registerButton {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 16px;
    height: auto;
    font-family: var(--mainFf);
    box-shadow: none;
}

.registerButton {
    width: 100%;
}



@media (min-width: 800px) {

    .formRight .form .loginButton:hover,
    .formRight .form .registerButton:hover {
        color: #FECE30;
    }
}

@media (max-width: 769px) {
    .formRight {
        flex-basis: 100%;
    }

    .title {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}